beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.7
cloudscraper==1.2.71
curlconverter==1.0.1
idna==3.11
packaging==26.0
pillow==12.2.0
pyparsing==3.3.2
pyperclip==1.11.0
python-dateutil==2.9.0.post0
requests==2.33.1
requests-toolbelt==1.0.0
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
uncurl==0.0.11
urllib3==2.6.3
